*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

.me{
    font-size: clamp(3vw,5vw,7vw);
}

.navbar-link{
    font-size: 3vw;
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 3vw;
    align-items: center;
}

.navbar-link li:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
}

.About{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding-top: 5vw;
}

.About-img{
    margin-left: 15vw;
    border-radius: 50%;
    border: 1px ;
    width: 15vw;
}

.About-text{
    margin-right: 2vw;
}

.About-text h1{
    font-size: 5vw;
}

.About-img:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
}

p{
    font-size: 3vw;
    flex-wrap: wrap;
}

.Skills{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
}

.B{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 4vw;
    padding-top: 8vw;
    gap: 15vw;
    font-size: 3vw;
    align-items: center;
}

.B li{
    border-radius: 0.62vw;
    border: 0.104vw solid black;
    min-width: 5vw;
    text-align: center;
}

.B li:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
}

@media screen and (max-width:600px){
    .B{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .B button{
        width: 45%S;
    }
}

.A{
    font-size: 5vw;
    text-align: center;
    margin-top: 20px;
}

.Projects{
    list-style: none;
    text-align: center;
}

.Contacts{
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding-top: 40px;
}

.icons a{
    font-size: 4vw;
    color: black;
}

.icons a:hover{
    transform: scale(1.3);
    transition: 0.3s ease;
}
.fa-instagram {
  color: #f30808;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-x-twitter {
  color: #000000;
}